<!DOCTYPE html>
<html>
  <head>
    <title>SchoolSpecs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <% if notice %>
  <div class="flash-notice"><%= notice %></div>
  <% end %> <% if alert %>
  <div class="flash-alert"><%= alert %></div> <% end %>
  <%= yield %>
  </body>
</html>
